
@import "../variables";
@import "helpers";

.#{$prefix}-select {
  position: relative;
  max-width: 60%;
  width: 100%;
}

.#{$prefix}-select-container {
  position: relative;
  display: block;
  height: $inputHeight;
  margin: 0;

  select {
    @include baseInputStyle();
    outline: none;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: $inputHeight;
    line-height: $inputHeight;
    background-color: transparent;
    border: none;
    padding-right: $padding;
  }

  > svg {
    @include simpleTransition();
    right: 0;
    top: $paddingTiny;
    position: absolute;
    z-index: 0;
    fill: $baseFontColorLight;
  }
}

.#{$prefix}--focus {
  .#{$prefix}-select-container {
    select {
      @include focused();
    }

    > svg {
      fill: $baseFontColor;
    }
  }
}