
@import "../variables";
@import "helpers";

.#{$prefix}-slider-with-text {
  position: relative;
  display: flex;

  input[type=range] {
    margin-right: $paddingHalf;
  }

  .#{$prefix}-text {
    padding-top: 0;
  }
}

.#{$prefix}-slider-with-text:not(:hover) {
  .#{$prefix}-input-range--hidden {
    opacity: 0;
  }
}

.#{$prefix}-control--compact {
  .#{$prefix}-slider-with-text {
    max-width: 60%;
  }
}
