
@import "../variables";
@import "helpers";

.#{$prefix}-underline {
  height: 1px;
  background-color: $borderColor;
  width: 100%;
}

.#{$prefix}-underline-active {
  @include simpleTransition();

  position: absolute;
  bottom: 0;
  opacity: 0;
  height: 2px;
  left: 50%;
  right: 50%;
  background-color: transparent;
}

.#{$prefix}--focus {
  .#{$prefix}-underline-active {
    height: 2px;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: $secondary;
  }
}